.env*
*.log
*.log
.venv
*.pyc
**/__pycache__/*    

.env*
.venv
sandbox/graphs/*
**/__pycache__/
sandbox/docs
sandbox/contexts/clsk
docker/postgres/data
Dockerfile
README.md
docker*
scripts
langgraph.json
.dockerignore
.cursorignore
.vscode
.git*
.example.env
docs
deployment
logs/*
!logs/.gitkeep